ColumnLimit: 100
BinPackParameters: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: None

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
